<!DOCTYPE html>
<html>
<head>
  <title>Calendar Event Form</title>  
</head>

<body>

<h1 style="text-align: center;">Create Calendar Event</h1> 

<form action="/dashboard" method="POST" style="max-width: 500px; margin: 0 auto;">

  <label style="display:block">Summary:</label>
  <input type="text" name="summary" style="width: 100%; padding: 5px; border: 1px solid #ccc" value="HelloDoctr"><br><br>

  <label style="display:block">Location:</label>
  <input type="text" name="location" style="width: 100%; padding: 5px; border: 1px solid #ccc" value="HelloDoctr"><br><br>

  <label style="display:block">Description:</label>
  <textarea name="description" style="width: 100%; padding: 5px; border: 1px solid #ccc" value="HelloDoctr"></textarea><br><br>

    <label style="display:block">Start Date:</label>
    <input type="date" style="width: 100%; padding: 5px; border: 1px solid #ccc" name="start_date"><br><br>

    <label style="display:block">Start Time:</label>  
    <input type="time" style="width: 100%; padding: 5px; border: 1px solid #ccc" name="start_time"><br><br>

    <label style="display:block">End Date:</label>
    <input type="date" style="width: 100%; padding: 5px; border: 1px solid #ccc" name="end_date"><br><br>

    <label style="display:block">End Time:</label>
    <input type="time" style="width: 100%; padding: 5px; border: 1px solid #ccc" name="end_time"><br><br>

  <input type="submit" value="Submit" style="display: block; margin: 0 auto; padding: 8px 12px; border: 1px solid #007bff; background-color: #007bff; color: white; border-radius: 4px; cursor: pointer;">

</form>

<form action="/fit_data" method="GET" style="max-width: 500px; margin: 0 auto; text-align: center; margin-top: 20px;">
  <input type="submit" value="Get Fit" style="padding: 8px 12px; border: 1px solid #28a745; background-color: #28a745; color: white; border-radius: 4px; cursor: pointer;">
</form>

</body>
</html>