

<!DOCTYPE html>
<html lang="en">
    {% include 'user/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/libs/prismjs/themes/prism-okaidia.min.css')}}">

    <!-- --------------------------------------------------- -->
    <!-- Select2 -->
    <!-- --------------------------------------------------- -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/libs/select2/dist/css/select2.min.css')}}">
  <body>
    <!-- Preloader -->
    
    <!-- --------------------------------------------------- -->
    <!-- Body Wrapper -->
    <!-- --------------------------------------------------- -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- --------------------------------------------------- -->
      <!-- Sidebar -->
      <!-- --------------------------------------------------- -->
      {% include 'user/sidebar-user.html' %}
      <!-- --------------------------------------------------- -->
      <!-- Main Wrapper -->
      <!-- --------------------------------------------------- -->
      <div class="body-wrapper">
        <!-- --------------------------------------------------- -->
        <!-- Header Start -->
        <!-- --------------------------------------------------- -->
        {% include 'user/header-user.html' %}
        <!-- --------------------------------------------------- -->
        <!-- Header End -->
        <!-- --------------------------------------------------- -->

<div class="container-fluid">

      <!-- Employee Salary -->
      <h4>Elevate Your Wellness: Attain Health Stability with a Continuous Calorie-Burning Streak🔥</h4>
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <div class="card-body pb-0 mb-xxl-4 pb-1">
              <p class="mb-1 fs-3">Current Streaks</p>
              <h4  id ="streak"  class="fw-semibold fs-7"></h4>
              <div class="d-flex align-items-center mb-3"> </div>
           </div>
        </div>
      </div>
        <div class="col-md-2">
          <div class="card">
            <div class="card-body pb-0 mb-xxl-4 pb-1">
              <p class="mb-1 fs-3"> Yesterday's Step Count 🏃‍♀️🏃‍♀️</p>
              <div id="todaysteps" class="d-flex align-items-center mb-3"> </div>
            </div>
          </div>
        </div>


        <div class="row">
      
          <div class="col-md-6">
      
            <div class="card">
      
              <div class="card-body">
              
                <h5 class="card-title">Steps Count</h5>
                <p class="card-subtitle">Walking Streak 🏃🏼 🏃🏼 🏃🏼</p>
      
                <div id="salary"></div>
              
              </div>
            
            </div>
      
          </div>
      
          <div class="col-md-6">
      
            <div class="card">
      
              <div class="card-body">
              
                <h5 class="card-title">Calories Burned</h5>
                <p class="card-subtitle">🏋🏻🏋🏻🏋🏻🏋🏻</p>
                  
                <div id="salary1"></div>
      
      
              </div>
            
            </div>
      
          </div>
      
        </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body">
              <div class="mb-4">
                <h5 class="card-title fw-semibold">Yesterday's MileStone 🎯</h5>
                <p class="card-subtitle">Walk and Build your Health</p>
              </div>
              <ul class="timeline-widget mb-0 position-relative mb-n5">
                <li class="timeline-item d-flex position-relative overflow-hidden">
                  <div class="timeline-time text-dark flex-shrink-0 text-end">Mile Stone 0🎯</div>
                  <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                    <span class="timeline-badge border-0 border border-success flex-shrink-0 my-8"></span>
                    <span class="timeline-badge-border d-block flex-shrink-0"></span>
                  </div>
                  <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">Start<a href="javascript:void(0)" class="text-primary d-block fw-normal ">#ML-0 Steps</a>
                  </div>
                </li>
                <li class="timeline-item d-flex position-relative overflow-hidden">
                  <div class="timeline-time text-dark flex-shrink-0 text-end">Mile Stone 1🎯</div>
                  <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                    <span class="timeline-badge border-1 border border-warning flex-shrink-0 my-8"></span>
                    <span class="timeline-badge-border d-block flex-shrink-0"></span>
                  </div>
                  <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">Achieved<a href="javascript:void(0)" class="text-primary d-block fw-normal ">#ML-6000 Steps</a>
                  </div>
                </li>
                <li class="timeline-item d-flex position-relative overflow-hidden">
                  <div class="timeline-time text-dark flex-shrink-0 text-end">Mile Stone 2🎯</div>
                  <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                    <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8"></span>
                    <span class="timeline-badge-border d-block flex-shrink-0"></span>
                  </div>
                  <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">UnStoppable <a href="javascript:void(0)" class="text-primary d-block fw-normal ">#ML-8000 Steps</a>
                  </div>
                </li>
                <li class="timeline-item d-flex position-relative overflow-hidden">
                  <div class="timeline-time text-dark flex-shrink-0 text-end">Mile Stone 3🎯</div>
                  <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                    <span class="timeline-badge border-3 border border-warning fw-bold flex-shrink-0 my-8"></span>                          
                  </div>
                  <div class="timeline-desc fs-3 text-dark mt-n1">Finished<a class="text-primary d-block fw-normal ">#ML-10000 Steps</a></div>
                </li>
              </ul>                  
            </div>
          </div>
        </div>
      </div>
    

    <script src="{{ url_for('static', filename='dist/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
<!-- Your JavaScript code can now access the fitnessData variable -->
<script>
    // Function to update the chart with new data
    function updateChart(dates, data) {
        var salary = {
            series: [
                {
                    name: "Steps Count",
                    data: data,
                    
                },
            ],

    chart: {
      toolbar: {
        show: true,
      },
      height: 260,
      type: "bar",
      fontFamily: "Plus Jakarta Sans', sans-serif",
      foreColor: "#adb0bb",
    },
    colors: ["#008000", "#008000", "#008000","#008000", "#008000", "#008000", "var(--bs-primary)"],
    plotOptions: {
      bar: {
        borderRadius: 4,
        columnWidth: "45%",
        distributed: true,
        endingShape: "rounded",
      },
    },

    dataLabels: {
      enabled: false,
    },
    legend: {
      show: false,
    },
    grid: {
      yaxis: {
        lines: {
          show: false,
        },
      },
      xaxis: {
        lines: {
          show: false,
        },
      },
    },
    xaxis: {
            categories: dates, 
            axisBorder: {
                show: false,
            },
            axisTicks: {
                show: false,
            },
        },
    };
    var chart = new ApexCharts(document.querySelector("#salary"), salary);
          chart.render();

        }
   function streakCalculate(calories)
   {
      let streak = JSON.parse('{{ streak| tojson | safe }}');
      let age = JSON.parse('{{ age| tojson | safe }}');

      if(streak == -1)
      {
        streak=0;
        let i=0;
        for(let i=0; i<calories.length-1;i++){
        if(calories[i] >=6000 && age >= 60 ) {
          streak=streak+1;

        } 
        else if(calories[i]>=8000 && age < 60)
        {
          streak=streak+1;

        } 
        else
        {
          streak=0;

          console.log(age);
        }
      }
    }
    else{
      if(calories[6]>=6000 && age>=60 ) {
          streak++;

        } 
        else if(calories[6]>=8000 && age<60)
        {
          streak++;

        } 
        else
        {
          streak=0;

        }
      }
      document.getElementById('streak').textContent = streak.toString()+'🔥';

   }
  // Function to update the chart with new data
  function updateChart1(dates1, data1) {
      var salary = {
          series: [
              {
                  name: "🏋🏻 🏃🏼",
                  data: data1,
              },
          ],
  chart: {
    toolbar: {
      show: true,
    },
    height: 260,
    type: "bar",
    fontFamily: "Plus Jakarta Sans', sans-serif",
    foreColor: "#adb0bb",
  },
  colors: ["#008000", "#008000", "#008000","#008000", "#008000", "#008000", "var(--bs-primary)"],
  plotOptions: {
    bar: {
      borderRadius: 4,
      columnWidth: "45%",
      distributed: true,
      endingShape: "rounded",
    },
  },

  dataLabels: {
    enabled: false,
  },
  legend: {
    show: false,
  },
  grid: {
    yaxis: {
      lines: {
        show: false,
      },
    },
    xaxis: {
      lines: {
        show: false,
      },
    },
  },
  xaxis: {
          categories: dates1, 
          axisBorder: {
              show: false,
          },
          axisTicks: {
              show: false,
          },
      },
  };
  var chart = new ApexCharts(document.querySelector("#salary1"), salary);
        chart.render();
      }
     
     var fitnessData = JSON.parse('{{ fitness_data | tojson | safe }}');
      // Access the fitnessData variable and use it in your JavaScript code
      var dates = Object.keys(fitnessData[0]);
      var calories = Object.values(fitnessData[0]);
          // Access the fitnessData variable and use it in your JavaScript code
    var dates1 = Object.keys(fitnessData[1]);
    var calories1 = Object.values(fitnessData[1]);
    // Updating the chart with the received data
    updateChart1(dates1, calories1);
    // Updating the chart with the received data
    updateChart(dates, calories);
    streakCalculate(calories);

    
const steps= calories[6]
document.getElementById('todaysteps').textContent = steps.toString();
    // Milestones
const milestones = [0, 6000, 8000, 10000];

// Get current milestone 
let milestoneIndex = 0;
for(let i=0; i<milestones.length; i++) {
  if(steps >= milestones[i]) {
    milestoneIndex = i;
  } else {
    break;
  }
}

// Update badge borders
for(let i=1; i<=milestoneIndex; i++) {
  document.querySelectorAll(".timeline-badge")[i].classList.replace("border-warning", "border-success"); 
}
  </script>



{% include 'user/footer.html' %}

</body>
</html>